=render "modules/header"
.blog-list
  .title
    Blog
  - @blogs.each do |blog|
    = render partial:"modules/title-image", locals: {id: blog.id, name: blog.name, image: blog.image, created_at: blog.created_at }
    .blog-content
      = safe_join(blog.content[0,5].split("\n"),tag(:br))
      = link_to "MORE...", blog_path(blog.id), class:"more-button"
  .paginate
    = paginate @blogs
= render "modules/footer"