.header
  .title
    = link_to 'AtsushiKuwabara', root_path
  .nav-list
    .nav-list__link
      = link_to "About", "/abouts", class: "nav-list__link__about"
      = link_to "Works", "/works", class: "nav-list__link__works"
      = link_to "Blog", "#", class: "nav-list__link__blog"
      = link_to "Contact", "#", class: "nav-list__link__contact"
    .nav-list__sns
      = link_to "", "https://github.com/Atsushi-Kuwabara", class: "nav-list__sns__github"
      = link_to "", "https://www.instagram.com/kuwa__/", class: "nav-list__sns__insta"
      = link_to "", "https://www.facebook.com/atsushi.kuwabara.39", class: "nav-list__sns__facebook"